In [1]:
print('hello world')

hello world

In [2]:
name='파이쏭'
print(name)

파이쏭

In [3]:
a=1024
print(a)

1024

In [16]:
# name 변수의 값을 '파이쏭' 대신 다른 값으로 바꿔보세요!
name='파이쏭'
print(name+'님 안녕하세요!')

파이쏭님 안녕하세요!

In [20]:
name='원더키디' #주석은 코드 오른쪽에 쓸 수도 있습니다.
print(2020,name,'화이팅!!')

2020 원더키디 화이팅!!

In [21]:
name=input()
print(name+'님! 안녕하세요!')

파이쏭
파이쏭님! 안녕하세요!

In [25]:
name=input('이름을 입력해주세요 : ')
print(name+'님! 안녕하세요!')

이름을 입력해주세요 : 파이쏭
파이쏭님! 안녕하세요!

In [28]:
age=input('나이를 입력해주세요! : ')
print(int(age)-4)

나이를 입력해주세요! : 25
21

In [35]:
name=input('이름을 입력해주세요 : ')
age=int(input('나이를 입력해주세요 : '))
print('안녕하세요!',name+'님! 저는 처음에 +'+int(age-4)+'살인 줄 알았어요!!')

이름을 입력해주세요 : vkdlTHd
나이를 입력해주세요 : 25

TypeError: can only concatenate str (not "int") to str

In [36]:
print(5//2)

2

In [43]:
print(10%4)

2

In [44]:
print(10>=3)

True

In [45]:
print(10<=3)

False

In [46]:
print(10==3)

False

In [47]:
print(10!=3)

True

In [48]:
print(3%2==1)

True

In [50]:
print(10=!3)

SyntaxError: invalid syntax (<ipython-input-50-6a1f9054c56b>, line 1)

In [70]:
names = ['쵸파','루피','상디','조로']
for g in name :
    print(g)

쵸파
루피
상디
조로

In [73]:
for i in (0,1,2,3) :
    print(i**2)

0
1
4
9

In [77]:
for i in range(101) :
    print(i ** 2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801
10000

In [87]:
for i in range(4,10,3) :
    print(i*2)

8
14

In [166]:
if 10<0 :
    print('안녕하세요?')

In [127]:
passwd = int(input('비밀번호 4자리를 입력하세요 : '))
if passwd == 1531 :
    print('비밀번호가 일치합니다.')
if passwd == 2468 :
    print('불일치')

비밀번호 4자리를 입력하세요 : 23

In [156]:
names = ['쵸파','루피','상디','조로']
for name in names :
    print(a)
del name
for names in name:
    print(name)

NameError: name 'a' is not defined

In [149]:
names = ['쵸파','루피','상디','조로']
print

In [169]:
a = input("숫자입력을 하세요")
if int(a) < 0:
    print( "a는 음수입니다")
elif 1<int(a)<10:
    print("a는 한자리 양수입니다")
else:
    print("a는 두자리이상 양수입니다")

숫자입력을 하세요3
a는 한자리 양수입니다

In [172]:
names = ['쵸파','루피','상디','조로']
print(names[-3])

루피

In [173]:
names=['쵸파','루피','상디','조로']
print(names[0:2])
print(names[1:3])
print(names[1:])
print(names[:])

['쵸파', '루피']
['루피', '상디']
['루피', '상디', '조로']
['쵸파', '루피', '상디', '조로']

In [174]:
names=['쵸파','루피','상디','조로']
names.append('나미')
print(names)

['쵸파', '루피', '상디', '조로', '나미']

In [177]:
print(len(names))

5

In [185]:
print(len(' q'))

2

In [191]:
names=['쵸파','루피','상디','조로']
names.append('해적왕')
for i in names :
    if len(i)>0 :
        print(i,'왔나요?')

쵸파 왔나요?
루피 왔나요?
상디 왔나요?
조로 왔나요?
해적왕 왔나요?

In [194]:
print("안녕하세요")

안녕하세요

In [195]:
print('hi')

hi

In [203]:
a=9 
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

14
4
45
1.8
1
4

In [205]:
print('파이썬','데이터분석입문','playwithdata','데이터수집')

파이썬 데이터분석입문 playwithdata 데이터수집

In [209]:
print('귤','사과','배',sep='/')

귤/사과/배

In [215]:
print('1번','2번','3번','4번','5번','6번','7번','8번','9번','10번')

class1= ['1번','2번','3번','4번','5번','6번','7번','8번','9번','10번']
print(class1)

1번 2번 3번 4번 5번 6번 7번 8번 9번 10번
['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번', '9번', '10번']

In [217]:
k = ['a','b','c','d','e']

print(k[1:3])
print(k[-4:-1])

['b', 'c']
['b', 'c', 'd']

In [218]:
l1= ['a']
l2= ['b','c','d']
print(l1+l2)
print(l2+l1)

['a', 'b', 'c', 'd']
['b', 'c', 'd', 'a']

In [221]:
l1= ['a']
l2= ['b','c','e']
l2.append(l1)
print(l2)

['b', 'c', 'e', ['a']]

In [234]:
fruits= ['바나나','사과','딸기','배','감']
for fruit in fruits :
    print(fruit)

바나나
사과
딸기
배
감

In [238]:
a='사과'
b='망고,파인애플'
ab=b+a
print(ab)

망고,파인애플사과

In [241]:
z='*'
print(z*8)

********

In [245]:
month='2월'
day='20일'
say='{} {}은 일요일입니다.'.format(month,day)
print(say)

2월 20일은 일요일입니다.

In [247]:
k = "가나다라마바"
#index 012345
#index -6-5-4-3-2-1

print(k[2])
print(k[-1])
print(k[2:5])
print(k[3:])

다
바
다라마
라마바

In [252]:
t1 = ' hp010-0000-0000 '
print(t1)
t2=t1.strip()
print(t2)
t3=t2.replace('hp','')
print(t3)
t4=t3.split('-')
print(t4)

 hp010-0000-0000
hp010-0000-0000
010-0000-0000
['010', '0000', '0000']

In [264]:
price=int(input('가격을 입력하세요 : '))
if price > 3000:
    print('비싸다')
else:
    print('저렴하다')

print(price)

가격을 입력하세요 : 2000
저렴하다
2000

In [265]:
def 함수명(매개변수):
    실행부분

In [279]:
def say(name):
    print('안녕하세요,')
    print('제 이름은 '+name+' 입니다')

say('홍길동')

안녕하세요,
제 이름은 홍길동 입니다

In [291]:
def cal(a,b):
    result= a**b
    return result
    
    
test= cal(10,3)  
print(test)

1000